
body {
    font-size: 18px;
}

li {
    cursor: pointer;
    display:inline-block;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
}

li:hover {
    background-color: rgba(201, 201, 201, 0.432);
}

a {
    color: white;
}

.main-menu-item a{
    color: black;
}

.no-pointer {
    cursor: default;
}

.product-item {
    padding: 5px;
    margin: 5px;
    border: 2px solid gray;
    border-top-right-radius: 25px;
}

.product-title { 
    font-size: 110%;
    font-weight: bolder;
}

.info-head {
    margin: 2px;
    border: 1px solid rgba(90, 90, 90, 0);
    padding-left: 5px;
    padding-right: 5px;
}

.info-box {
    position:absolute;
    padding: 5px;
    background-color: rgb(48, 48, 48);
    border: 1px solid rgb(126, 126, 126);
    color: white;
}

.info-item {
    border-top: 1px solid gray;
    padding: 2px;
}

.info-name {
    border-bottom: 1px solid gray;
    font-size: 120%;
    padding: 3px;
}

.info-attrs {
    border-top: 1px solid rgb(87, 104, 90);
    padding-top: 3px;
    padding-left: 5px;
}

.font-70 {
    font-size: 80%;
}

.font-80 {
    font-size: 80%;
}