<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>naivebot Access Options</title>
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <h1>caLLowCreation's naivebot Access Options</h1>
    <div>Options: {{items.length}}</div>
    <div>Click a access option to see its information.</div>
    <ol>
        {{#each options}}
        <li onclick="toggle('item-{{@index}}')">
            <span class="info-head" title="Access Level {{@index}}">Access Level: {{@index}}</span>
            <div id="item-{{@index}}" class="info-box" style="display: none;">
                <div class="info-name">Access Level: {{@index}}</div>
                <div class="info-item">Allowed Tags: {{this.allowedTags}}</div>
                <div class="info-attrs font-80">{{this.allowedAttributes}}</div>
            </div>
        </li>
        {{/each}}
    </ol>
    <script>
        function toggle(id) {

            const ele = document.getElementById(id);
            const elements = document.getElementsByClassName('info-box');

            for(let i = 0; i < elements.length; i++) {
                if(elements[i] === ele) continue;
                elements[i].style.display = 'none';
            }

            ele.style.display =
            ele.style.display == 'none' ? 'block' : 'none';
        }
        (function () {
            
        })();
    </script>
</body>

</html>