<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="index.css" rel="stylesheet">
    <title>naivebot Commands</title>
</head>

<body>
    <h1>caLLowCreation's naivebot Commands</h1>
    <div>Access Level: {{accessLevel}} Commands: {{commands.length}}</div>
    <div>Click a command to see its information.</div>
    <ol>
        {{#each commands}}
        <li onclick="toggle('item-{{name}}')">
            <span class="info-head" title="{{description}}">{{name}}</span>
            <div id="item-{{name}}" class="info-box" style="display: none;">
                <div class="info-name">{{name}}</div>
                <div class="info-item">description: {{description}}</div>
                <div class="info-item">example: {{example}}</div>
                <div class="info-item">alias: {{alias}}</div>
                <div class="info-attrs font-70">cooldown:{{cooldown}}s - offline:{{offline}} - games:{{games}}</div>
            </div>
        </li>
        {{/each}}
    </ol>
    <script>
        function toggle(id) {

            const ele = document.getElementById(id);
            const elements = document.getElementsByClassName('info-box');

            for(let i = 0; i < elements.length; i++) {
                if(elements[i] === ele) continue;
                elements[i].style.display = 'none';
            }

            ele.style.display =
            ele.style.display == 'none' ? 'block' : 'none';
        }
        (function () {
            
        })();
    </script>
</body>

</html>