<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="index.css" rel="stylesheet">
    <title>naivebot</title>
</head>

<body>
    <h1>caLLowCreation's naivebot</h1>
    <div style="padding: 10px;">
        {{#each items}}
        <div class="main-menu-item">
            <a href="{{url}}">{{name}}</a> - <span>{{description}}</span>
        </div>
        {{/each}}
    </div>
</body>

</html>