<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>caLLowCreation's Products</title>
    <link rel="stylesheet" href="index.css" />
</head>

<body>
    <h1>caLLowCreation's Products and Services</h1>
    <div>Click a product option to see more information.</div>
    {{#each products}}
    <div class="product-item">
        <div class="product-title" title="{{this.title}}">{{this.title}}</div>
        <ol>
            {{#each this.items}}
            <li class="no-pointer" onclick="toggle('item-{{@../index}}-{{@index}}')">
                <div class="info-head" title="{{this.name}}">{{this.name}}</div>
                <div id="item-{{@../index}}-{{@index}}" class="info-box" style="display: none;">
                    <div class="info-name">Name: {{this.name}}</div>
                    <div class="info-item">Link: <a href="{{this.url}}" target="_blank">{{this.url}}</a></div>
                    <div class="info-attrs font-80">Price: {{this.price}}</div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
    <script>
        function toggle(id) {

            const ele = document.getElementById(id);
            const elements = document.getElementsByClassName('info-box');

            for (let i = 0; i < elements.length; i++) {
                if (elements[i] === ele) continue;
                elements[i].style.display = 'none';
            }

            ele.style.display =
                ele.style.display == 'none' ? 'block' : 'none';
        }
        (function () {

        })();
    </script>
</body>

</html>