<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="index.css" rel="stylesheet">
        <title>naivebot Voices</title>
    </head>

    <body>
        <h1>caLLowCreation's naivebot Voices</h1>
        <div>
            <p>Use the #&#8217;s to save you voice using the !voice[#] command in the chat on our Twitch Channel &#8212;><a
                    href="https://www.twitch.tv/callowcreation" target="_blank"> Here</a></p>
            <h4>Click Listen to hear the voice say &#8220;Are we sexy yet?&#8221;</h4>
            <div>
                Voice Rate (10-100):<input id="voice-rate" name="voice-rate" type="number" min="1" max="200"
                            value="100">
            </div>
            <div>
                Voice Pitch(10-100):<input id="voice-pitch" name="voice-pitch" type="number" min="1" max="200"
                            value="100">
            </div>
            <p>
                <span style="cursor:pointer;" onclick="voiceListen(0)">Listen</span> [# 0] Microsoft David Desktop - English (United States) lan=en-US<br />
                <span style="cursor:pointer;" onclick="voiceListen(1)">Listen</span> [# 1] Microsoft Zira Desktop - English (United States) lan=en-US<br />
                <span style="cursor:pointer;" onclick="voiceListen(2)">Listen</span> [# 2] Google Deutsch lan=de-DE<br />
                <span style="cursor:pointer;" onclick="voiceListen(3)">Listen</span> [# 3] Google US English lan=en-US<br />
                <span style="cursor:pointer;" onclick="voiceListen(4)">Listen</span> [# 4] Google UK English Female lan=en-GB<br />
                <span style="cursor:pointer;" onclick="voiceListen(5)">Listen</span> [# 5] Google UK English Male lan=en-GB<br />
                <span style="cursor:pointer;" onclick="voiceListen(6)">Listen</span> [# 6] Google español lan=es-ES<br />
                <span style="cursor:pointer;" onclick="voiceListen(7)">Listen</span> [# 7] Google español de Estados Unidos lan=es-US<br />
                <span style="cursor:pointer;" onclick="voiceListen(8)">Listen</span> [# 8] Google français lan=fr-FR<br />
                <span style="cursor:pointer;" onclick="voiceListen(9)">Listen</span> [# 9] Google हिन्दी lan=hi-IN<br />
                <span style="cursor:pointer;" onclick="voiceListen(10)">Listen</span> [# 10] Google Bahasa Indonesia lan=id-ID<br />
                <span style="cursor:pointer;" onclick="voiceListen(11)">Listen</span> [# 11] Google italiano lan=it-IT<br />
                <span style="cursor:pointer;" onclick="voiceListen(12)">Listen</span> [# 12] Google 日本語 lan=ja-JP<br />
                <span style="cursor:pointer;" onclick="voiceListen(13)">Listen</span> [# 13] Google 한국의 lan=ko-KR<br />
                <span style="cursor:pointer;" onclick="voiceListen(14)">Listen</span> [# 14] Google Nederlands lan=nl-NL<br />
                <span style="cursor:pointer;" onclick="voiceListen(15)">Listen</span> [# 15] Google polski lan=pl-PL<br />
                <span style="cursor:pointer;" onclick="voiceListen(16)">Listen</span> [# 16] Google português do Brasil lan=pt-BR<br />
                <span style="cursor:pointer;" onclick="voiceListen(17)">Listen</span> [# 17] Google русский lan=ru-RU<br />
                <span style="cursor:pointer;" onclick="voiceListen(18)">Listen</span> [# 18] Google 普通话（中国大陆） lan=zh-CN<br />
                <span style="cursor:pointer;" onclick="voiceListen(19)">Listen</span> [# 19] Google 粤語（香港） lan=zh-HK<br />
                <span style="cursor:pointer;" onclick="voiceListen(20)">Listen</span> [# 20] Google 國語（臺灣） lan=zh-TW<br />
            </p>
        </div>

        <script type="text/javascript">
            "use strict";
            function voiceListen(index) {
                const rate = document.getElementById('voice-rate').value;
                const pitch = document.getElementById('voice-pitch').value;
                const utterThis = new SpeechSynthesisUtterance("Are we sexy yet?");
                const voices = window.speechSynthesis.getVoices();
                utterThis.default = false;
                utterThis.voice = voices[index];
                utterThis.rate = rate / 100;
                utterThis.pitch = pitch / 100;
                window.speechSynthesis.speak(utterThis);
            }
            (function () {

            })();
        </script>
    </body>
</html>
